<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('About us', 'none')"></head>
<body>
<div class="container-fluid">
		<div th:replace="navigation :: header_menu"></div>
		<div th:replace="navigation :: search_nav"></div>
			
			<div class="text-center">
			
			<h1>About Us</h1>
			<br>
		
			<h3>Hello, I am the developer of this website Yi Hu, an overseas
			student from China. </h3>
			<h3>As a web developer, I am glad to offer you Shopme
			website services. </h3>
			<h3>If you want to know more about me first, please go to 
			<a href="http://www.linkedin.com/in/yi-hu-58852321a">my linkedin page.</a>
			</h3>
			
		</div>
		<div th:replace="navigation :: footer_menu"></div>
</div>

</body>
</html>