<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('About us', 'none')"></head>
<body>
<div class="container-fluid">
		<div th:replace="navigation :: header_menu"></div>
		<div th:replace="navigation :: search_nav"></div>
			
			<div class="text-center">
			
			<h1>Contact Us</h1>
			<br>
		
			<h3>I am happy to continue to help you.</h3>
			<h3> If you need help, please contact
			 <a href="http://www.linkedin.com/in/yi-hu-58852321a">my linkedin account: Yi Hu</a> or 
			 my email: yihu@smu.edu</h3>
			

		</div>
		<div th:replace="navigation :: footer_menu"></div>
</div>

</body>
</html>