<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<!-- use thymeleaf for every url in this app -->
<head th:replace="fragments :: page_head('Home - Shopme Admin', 'none')"></head>

<body>

	<div class="container-fluid">
		<div th:replace="navigation :: menu" ></div>
		
		<div class="text-center">
			<h1>Welcome to Shopme Control Panel!</h1>
			<a th:href="@{/users}" sec:authentication="principal.fullname" style="font-size:40px"></a>
			&nbsp;
			<span sec:authentication="principal.authorities"></span>
		</div>
		
		<div th:replace="fragments :: footer"></div>
	</div>

</body>

</html>